.Prices {
  position: relative;
  .menu {
    position: absolute;
    width: 100%;
  }
  .PricesSheet {
      background: url("/assets/Banner/layer-14-copy@3x.png"), #f2f2ff;

    padding: 5rem 0;
    position: relative;
    height: 1100px;
    @media screen and (max-width: 1200px) {
      height: auto;
    }
    .header {
      font-size: 45px;
      font-weight: 400;
      text-align: center;
      width: 80%;
      margin: 30px auto 30px auto;
      @media screen and (max-width: 1200px) {
        width: 90%;
        padding: 0 0 3rem 0;
      }
      span {
        font-weight: bold;
        .blue {
          color: #4b44ff;
        }
      }
    }
  }
  .map {
    margin-top: 10rem;
    z-index: 2;
    position: relative;
    @media screen and (max-width: 1200px) {
      margin-top: 2rem;
    }
  }
}

.priceCardsContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
