@import "../../VariablesScss/variables";

.NavBoxGrid {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  .gridConainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 120px);
      gap: 5px;
      div {
        width: 120px;

        // margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: contain;
          width: 4rem;
          height: 4rem;
        }
      }
      .topLeft {
        background: $color-grid-1;
        border-radius: 20px 20px 5px 10px;
        height: 100px;
      }
      .topCenter {
        background: $color-grid-2;
        border-radius: 20px 20px 5px 20px;
      }
      .topRight {
        background: $color-grid-3;
        border-radius: 20px 20px 20px 5px;
        // height: 70px;
      }
      .bottomLeft {
        background: $color-grid-4;
        border-radius: 10px 10px 5px 10px;
      }
      .bottomCenter {
        background: $color-grid-5;
        border-radius: 20px 20px 5px 5px;
        height: 120px;
      }
      .bottomRight {
        background: $color-grid-6;
        border-radius: 20px 20px 20px 5px;
      }
    }
  }

  .description {
    // margin-left: 150px;
    width: 100%;
    h2 {
      font-size: 1.9rem;
      font-weight: 500;
      margin: 0.5rem 0;
      span {
        color: $color-grid-6;
        font-weight: bold;
      }
    }
    .subtitle {
      font-weight: bolder;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      img {
        width: 2rem;
        margin: auto 1rem;
      }
    }
    p {
      color: $color-txt-3;
      width: 80%;
      margin: 10px 0;
    }

    .magic {
      display: flex;
      align-items: center;
      p {
        color: $color-txt-6;
        width: 80%;
        margin-right: 1rem;

        span {
          color: $color-txt-5;
          font-weight: bold;
        }
      }
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
  @media screen and (max-width: 800px) {
    padding: 20px;
    flex-direction: column;
    width: 90%;
    .gridConainer {
      width: auto;
    }
    .grid {
      margin-bottom: 2rem;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      p {
        width: 100%;
      }
      .magic {
        justify-content: center;
        width: 100%;
      }
    }
  }
}
