@import "../../VariablesScss/variables";

.OurPartners {
  width: 70%;
  margin: 3rem auto;
  h3 {
    margin: 0;
    font-weight: normal;
    font-size: 30px;

    span {
      color: $color-primary;
      font-weight: bold;
    }
  }
  p {
    margin: 0;
    font-weight: 500;
  }
  .PartnersLogos {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
    img {
      // margin-right: 40px;
      width: 100px;
      height: 40px;
      object-fit: contain;
    }
  }
  .banner {
    background: url("/assets/Banner/layer-14-copy@3x.png"),
      linear-gradient(90deg, $color-primary 50%, $color-txt-4 100%);
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 20px 20px 20px 5px;
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      color: $color-white;
      font-weight: normal;
      font-size: 30px;
      @media screen and (max-width:800px){
        font-size: 20px;
      }
      span {
        font-weight: bold;
        color: $color-white;
      }
    }
    .btn {
      margin: 1rem 0.4rem;
      display: block;
      width: 8.5rem;
      height: 1.5rem;
      background-color: $color-white;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px 10px 10px 0;
      cursor: pointer;
      color: #4b44ff;
      box-shadow: 0px 1px 4px 0 $color-black-overlay;
      img {
        display: block;
        width: 1.1rem;
        height: 1.1rem;
        margin-right: 0.5rem;
      }
    }
  }
  @media screen and (max-width:800px){
    padding: 20px;
    width: 90%;
      .PartnersLogos{
        flex-wrap: wrap;
        justify-content: center;
        img{
          margin: 5px;
        }
      }
  }
}
