@import "../../VariablesScss/variables";

.HeyNav360 {
  display: flex;
  width: 60%;
  margin: 4rem auto;
  .description {
    h2 {
      font-size: 1.9rem;
      font-weight: 500;
      margin: 0.5rem 0;
      span {
        color: $color-bg-3;
        font-weight: bold;
      }
    }
    .subtitle {
      font-weight: bolder;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      img {
        width: 2rem;
        margin: auto 1rem;
      }
    }
    p {
      color: $color-txt-3;
      width: 75%;
    }

    .magic {
      display: flex;
      align-items: center;
      p {
        color: $color-txt-6;
        width: 70%;
        margin-right: 1rem;

        span {
          color: $color-txt-5;
          font-weight: bold;
        }
      }
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
    .examples {
      .btn {
        margin: 1rem 0.4rem;
        display: block;
        width: 8.5rem;
        height: 1.2rem;
        background-color: $color-white;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 10px;
        box-shadow: 0px 1px 4px 0 $color-black-overlay;
        img {
          display: block;
          width: 1.1rem;
          height: 1.1rem;
          margin-right: 0.5rem;
        }
      }
      .gradientBtn {
        border-radius: 10px 10px 10px 0px;
        background: linear-gradient(
          90deg,
          $color-primary 0%,
          $color-txt-4 100%
        );

        color: $color-white;
      }
    }
  }
  .imgContainer {
    width: 100%;
    height: 20rem;
    // object-fit: fill;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    .mobileCover {
      position: relative;
      transform: translateY(1rem);
      border-radius: 10px;
      width: 70%;
      height: 100%;
      object-fit: contain;
      display: block;
      overflow: hidden;
    }
    .mobileScreen {
      overflow: hidden;
      position: absolute;
      transform: translateY(1.6rem);
      border-radius: 10px;
      height: 40%;
      object-fit: contain;
      display: block;
    }
  }
  @media screen and (max-width:800px){
    flex-direction: column;
    width: 100%;
    .description{
      display: flex;
      flex-direction: column;
      // align-items: center;
      margin-bottom: 1rem;
      order: 2;  
        padding: 20px;
p{
  width: 100%;
}
      .examples{
        width: 100%;
        .btn{
          margin: 1rem auto 1rem 0;
          margin-right: auto ;
        }
      }
      .magic{
        // margin: auto;
        justify-content: center;
      //   .magic{
      //   justify-content: center;
      // }
        p{
          width: 80%;
        }
      }
    }
    .imgContainer{
      .mobileScreen{
        height:280px;
      }
    }
  }
}
