.HeyNav360 {
  display: flex;
  width: 60%;
  margin: 4rem auto;
  .description {
    h2 {
      font-size: 1.9rem;
      font-weight: 500;
      margin: 0.5rem 0;
      span {
        color: #44aeff;
        font-weight: bold;
      }
    }
    .subtitle {
      font-weight: bolder;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      img {
        width: 2rem;
        margin: auto 1rem;
      }
    }
    p {
      color: #35393a;
      width: 75%;
    }
    .list {
      padding: 0;
      list-style: none;
      li::before {
        content: "\2022";
        color: #e1e1f7;
        font-weight: bolder;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      li {
        font-weight: bold;
        display: flex;
        align-items: center;
        margin: 1rem;
        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.8rem;
        }
      }
      .blueFilter {
        svg {
          fill: #4b44ff;
        }
      }
    }
    .magic {
      display: flex;
      align-items: center;
      p {
        color: #8ca6b4;
        width: 80%;
        margin-right: 1rem;

        span {
          color: #544efd;
          font-weight: bold;
        }
      }
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
    .examples {
      color: #34bff3;
      font-weight: bold;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        fill: #34bff3;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        stroke: #34bff3;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .imgContainer {
    width: 100%;
    height: 20rem;
    // object-fit: fill;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    .mobileCover {
      position: relative;
      transform: translateY(1rem);
      border-radius: 10px;
      width: 70%;
      height: 100%;
      object-fit: contain;
      display: block;
      overflow: hidden;
    }
    .mobileScreen {
      overflow: hidden;
      position: absolute;
      transform: translateY(1.6rem);
      border-radius: 10px;
      height: 40%;
      object-fit: contain;
      display: block;
    }
  }
}
