@import "../../VariablesScss/variables";

.Menu {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .toggler {
        display: none;
        flex-direction: column;
        width: 10%;
        margin: 0;
        cursor: pointer;
        span {
          display: block;
          width: 25px;
          height: 3px;
          margin-bottom: 5px;
          position: relative;

          background: black;
          border-radius: 2px;

          z-index: 1;
          cursor: pointer;

          // &:nth-of-type(2) {
          //   width: 20px;
          // }
        }
      }
  .logoContainer {
    width: 8rem;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navigation {
    //   width: 10rem;
    z-index: 20;
    position: relative;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li , a{
        display: inline-block;
        margin: 1rem 1.5rem;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.8rem;
        text-decoration: none;
        color: black;
      }
      .btn {
        margin: 1rem 0.4rem;
        display: block;
        width: 7.5rem;
        height: 1.2rem;
        background-color: $color-white;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 10px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.07);
        img {
          display: block;
          width: 1.1rem;
          height: 1.1rem;
          margin-right: 0.5rem;
        }
      }
      .gradientBtn {
        border-radius: 10px 10px 10px 0px;
        // background-image: linear-gradient(to right, #4b44ff , rgba(#34bff3,.9));
        background: linear-gradient(
          90deg,
          $color-primary 0%,
          $color-txt-4 100%
        );

        color: $color-white;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .Menu {
    // flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 3rem auto;
    position: relative;
    .logoContainer{
      justify-self: flex-start;
    }
    .toggler{
      margin: auto;
      position: absolute;
      top: 5px;
      left: 0;
      display: flex;
    }
    .navigation {
      display: none;
      ul{
  flex-direction: column;
  .btn{
    width: 100%;
  }
}
      .navigationList{
        display: flex;

      }
    }
  }
}
