.next {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: .8rem;
  position: absolute;
  top: 40%;
  right: -10px;
  svg {
    width: 1.5rem;
    path {
      fill: white;
    }
  }
}

.prev {
  background-color: transparent;
  outline: none;
  border: none;
  transform:  rotate(180deg);
  cursor: pointer;
  padding: .8rem;
  position: absolute;
  top: 40%;
  left: -10px;
  svg {
    width: 1.5rem;
    path {
      fill: white;
    }
  }
}
