.next {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  // padding: .8rem;
  position: absolute;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  svg {
    width: 1.5rem;
    path {
      fill: white;
    }
  }
}

.prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: none;
  transform:  rotate(180deg);
  cursor: pointer;
  // padding: .8rem;
  position: absolute;
  top: 40%;
  left: 0px;
  svg {
    width: 1.5rem;
    path {
      fill: white;
    }
  }
}
