.Contact{
  position: relative;
  .menu{
    position: absolute;
    width: 100vw;
  }
  .flexContainer{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    // height: 100vh;
      @media screen and (max-width:1000px){
      flex-direction: column;
      height: auto;
    }
  }
}