.Contact {
  position: relative;
  // height: 100vh;
  .menu {
    position: absolute;
    width: 100%;
  }
  .flexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      height: auto;
    }
  }
}
