$color-white: #fff;
$grey: #808080;
$color-primary: #4b44ff;
$color-black: #000;
$color-black-overlay: rgba(0, 0, 0, 0.75);


$color-txt-1: #7bfffd;
$color-txt-2: #dde5fc;
$color-txt-3: #35393a;
$color-txt-4: #34bff3;
$color-txt-5: #544efd;
$color-txt-6: #8ca6b4;
$color-txt-7: #14c570;
$color-txt-8: #ddefff;
// Colors

$color-bg-1: #e9f0f4;
$color-bg-2: #f2f2ff;
$color-bg-3: #44aeff;

$color-grid-1: #41af4b;
$color-grid-2: #ee5153;
$color-grid-3: #074469;
$color-grid-4: #3b8787;
$color-grid-5: #75b691;
$color-grid-6: #4942fd;

$color-border-1: rgba(217, 226, 232, 0.3);

$color-black-light: #332c34;
$color-white: #fff;
$color-white-light: #f5f8f9;
$color-red: #f00;

$color-gray: #777474;
$color-gray-light: #e8e3e3;
$color-gray-dark: #f5f5f5;
