
$color-white: #fff;
$grey: #808080;


// Colors
$color-black: #000;
$color-black-light: #332c34;
$color-white: #fff;
$color-white-light:  #f5f8f9;
$color-red: #F00;

$color-gray: #777474;
$color-gray-light: #e8e3e3;
$color-gray-dark: #f5f5f5;

// $color-primary: #c20a05;
// $color-secondary: #000;
$color-primary: var(--primary-color);
$color-secondary: var(--secondary-color);
$color-success: #86c871;

$color-bg-1: #f4f4f4;
$color-bg-2: #e7e5e5;
$color-bg-3: #666666;

$color-border-1: #b2b8b8;
$color-border-2: #e39496;
$color-border-3: #c41230;
$color-border-4: #d8d8d8;
$color-border-5: #cccccc;
$color-border-6: #e3e3e3;

$color-shadow-1: #cccccc;

$color-scrollbar-base: #dddddd;
$color-scrollbar-head: #c3c3c3;
// Fonts
$font-size-base: .91rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$font-size-xs: ($font-size-base * .775);
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1.1;

$font-family: 'Chivo', sans-serif;
$Roboto: 'Roboto', sans-serif;
$CenturyGothic: "Century Gothic", sans-serif;

