@import "../../VariablesScss/variables";

.FormBtn {
  min-width: 180px;
  min-height: 60px;
  border-radius: 10px 10px 0 10px;
  background-color: $color-white;
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  p {
    color: $color-black;
    text-transform: capitalize;
  }
  img {
    object-fit: contain;
  }
  cursor: pointer;
  &:hover {
    background-color: rgb(19, 216, 157);
    p {
      color: white;
    }
  }
}
