  .FormBtn{
    min-width: 180px;
    min-height: 60px;
    border-radius: 10px 10px 0 10px;
    background-color: white;
    border: none;
    outline: none;
    margin: 5px;
    padding: 10px;
    p{
          color: black;
        text-transform: capitalize;

    }
    img{
      object-fit: contain;
    }
    cursor: pointer;
    &:hover,&:active,&:focus,&::selection{
      background-color: #13d79d;
      p{
              color: white;

      }
    }
    
  }
