@import "../../VariablesScss/variables";
.ThreeSixtyView {
  background: url("/assets/Banner/layer-14-copy@3x.png"),
    linear-gradient(90deg, rgba(75, 68, 255, 1) 50%, rgba(52, 191, 243, 1) 100%);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  outline: none;
  .header {
    text-align: center;
    margin-bottom: 16px;
    h2 {
      color: $color-white;
      font-weight: 400;
      font-size: 30px;
      margin: auto;
      width: 30%;
      span {
        font-weight: bold;
      }
    }
    p {
      color: $color-white;
      width: 40%;
      margin: auto;
    }
  }
 .slider{
  padding: 20px;
 
  div{
    // display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
}
  @media screen and (max-width: 800px) {
    padding: 20px;
    .header {
      h2 {
        width: 100%;
        margin-bottom: 1rem;
      }
      p {
        width: 100%;
      }
    }
  }
}
