
.StoresSkeleton {
  display: flex;
  margin: 100px 0;
  overflow: hidden;
  position: relative;
  z-index: 22;
  .leftColumn {
    background-color: #f1f1f1;
    width: calc(100%  * 0.30);
    min-width: 250px;
    padding: 20px 10px;
    height: 360px;
    overflow: auto;
  }
  .mainColumn {
    width: calc(100%  * 0.75);
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    .leftColumn, .mainColumn {
      width: 100%;
    }
  }
}