.EllipseContainer {
  overflow: hidden;
  .Ellipse1 {
    animation-duration: 5s;
  }
  .new {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    animation-name: blink;
    animation-duration: 150s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &::after {
      content: "";
      background-color: orange;
      border-radius: 50%;
      opacity: .5;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;

      //mixin 
    }
  }
}

@keyframes blink {
  0% {
    transform:  rotate(0deg);
  }
  
  100% {
    transform:  rotate(360deg);
  }
}
