@import "../../VariablesScss/variables";

.Header {
  background: url("/home/assets/Banner/layer-14-copy@3x.png"), $color-bg-2;
  background-size: cover;
  background-position: center;
  height: 750px;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .Header {
    height: 850px;
  }
}
