.GifSection{
    display: flex;
    width: 70%;
    margin:4rem auto;
    .description{
        h2{
            font-size: 1.9rem;
            font-weight: 500;
            margin: .5rem 0;
            span{
                color: #4b44ff;
                font-weight: bold;
            }
        }
        .subtitle{
            font-weight: bolder;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            img{
                width: 2rem;
                margin: auto 1rem;
            }
        }
        p{
            color: #35393a;
            width: 75%;
        }
        .list{
            padding: 0;
            list-style: none; /* Remove default bullets */
            li::before{
             
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: #e1e1f7; /* Change the color */
                    font-weight: bolder; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                  
            }
            li{
                font-weight: bold;
                display: flex;
                align-items: center;
                margin: 1rem;
                svg{
                    width:1.5rem;
                    height: 1.5rem;
                    margin-left: .8rem;
                }
            }
            .blueFilter{
                svg{
                    fill:#4b44ff;
                }
            }
        }
        .magic{
            display: flex;
            align-items: center;
            p{
                color: #8ca6b4;           
                 width: 60%;
                 margin-right: 1rem;

                span{
                    color: #544efd ;
                    font-weight: bold;
                }
            }
            svg{
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
        }
    }
    .imgContainer{ width: 60%;
            height: 20rem;
            // object-fit: fill;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                transform: translateY(3rem);
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
       
    }
}