@import "../../VariablesScss/variables";

.DashboardOverview {
  width: 100%;
  margin: auto auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 20px;
  // @media screen and (max-width: 1100px) {
  //   height: 500px;
  // }
  h3 {
    text-align: center;
    color: $color-white;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    span {
      font-weight: bold;
    }
  }
  p {
    text-align: center;
    color: $color-white;
    width: 70%;
    margin: 30px auto;
  }
  .features {
.slider{
  padding: 20px;
 
  div{
    // display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  .featureContainer{
    // background-color: red;
    display: flex;
    justify-content: center;
  }
  .feature {
      background-color: $color-white;
      border-radius: 20px 20px 5px 20px;
      height: 130px;
      padding: 20px 15px;
      // margin: auto;
      width: 80% !important;
margin: auto;
      .imgContainer {
        background-image: linear-gradient(to top, $color-primary, $color-txt-4);
        width: 30%;
        height: 50px;
        border-radius: 10px 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        img {
          width: 40px;
          height: 30px;
          object-fit: contain;
        }
      }
      h3 {
        font-size: 16px;
        color: $color-black;
        text-align: left;
        margin-bottom: 5px;
        font-weight: bolder;
      }
      p {
        color: $color-txt-3;
        text-align: left;
        font-size: 14px;
        margin-top: 5px;
        width: 100%;
      }
    }
}
    
  }
  @media screen and (max-width: 1100px) {
    width: 100%;
    p {
      width: 80%;
    }
  }
  @media screen and (max-width: 750px) {
    .features {
      // flex-direction: column;
      flex-wrap: wrap !important;
      .feature {
        width: 30%;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .features {
      .feature {
        width: 50%;
      }
    }
  }
}
.next{
   height: 4rem;
   z-index: 2;
  //  right: 0 !important;
 }
.pre{
   height: 4rem;
   z-index: 2;
  //  left: 5 !important;
 }