// @import '../../sass-modules/colors',
//         '../../sass-modules/breakpoints';

.nasnav {
    box-sizing: content-box;
    .list{
        list-style: none;
    padding-left: 0;
    }
  .map {
    position: relative;
  }
  
  .countries__map {
    max-width: 53rem;
    margin: 2rem auto 0;
    @media screen and (max-width: 680px) {
      max-width: initial;
      margin: 2rem -12rem 0 -16rem;
    }
  
    @media screen and (max-width: 230px) {
      margin: 2rem -15rem 0;
    }
  }
  
  /* --- item --- */
  .flagList__item {
    position: absolute;
  }
  
  // modifiers
  // .flagList__item_country_kuwait {
  //   top: 35.5%;
  //   left: 58%;
  // }
  .flagList__item_country_egypt {
    top: 35.5%;
    left: 53%;
  }
  // .flagList__item_country_london {
  //   top: 22%;
  //   left: 44.5%;
  // }
  .flagList__item_country_saudi {
    top: 39%;
    left: 57.85%;
  }
  .flagList__item_country_nigeria {
    top: 51%;
    left: 46%;
  }
  .flagList__item_country_poland {
    top: 20%;
    left: 51%;
  }
  
  /* --- Pointer --- */
  .flagList__pointer {
    display: block;
    margin: -.2rem auto 0;
    width: .55rem;
    height: .55rem;
    background-color: #2B7AF3;
    border: .4rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba($color: #000, $alpha: .2)
  }
  
  /* --- Flag --- */
  .flagList__flag_country_saudi {
    width: 2rem;
    margin-bottom: .4rem;
  }
  
  /* =============================
  Modal
  ================================ */
  .modal {
    width: 15rem;
    padding: 1.6rem 1rem;
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 0 0 10px -1px rgba($color: #000, $alpha: .2);
  }
  
  
  
  /* modal first paragraph --- */
  .modal__paragraph:first-of-type {
    margin: 0 0 1.5rem;
  }
  
  /* modal second paragraph --- */
  .modal__paragraph:nth-of-type(2) {
    margin: 1.5rem 0 1.9rem;
  }
  
  /* modal join link --- */
  .modal__joinLink {
    font-size: .9rem;
    color: red;
  }
}        