.HeaderFullSreen {
  background-color: #f2f2ff;
  position: relative;
}
.HowToFullScrn {
  background: url("/home/assets/Banner/layer-14-copy@3x.png"),
     rgba(75, 68, 255, 1) ;
  background-size: cover;
  background-position: center;
}
