
@import "../../VariablesScss/variables";

.HeaderFullSreen {
  background: url("/assets/Banner/layer-14-copy@3x.png"),$color-bg-2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
    position: relative;
}
.HowToFullScrn {
  background: url("/assets/Banner/layer-14-copy@3x.png"),
     rgba(75, 68, 255, 1) ;
  background-size: cover;
  background-position: center;
}
