@import "../../VariablesScss/variables";
.Banner {
  background: url("/assets/Banner/layer-14-copy@3x.png"),
    linear-gradient(90deg, rgba(75, 68, 255, 1) 50%, rgba(52, 191, 243, 1) 100%);
  background-size: cover;
  background-position: center;
  height: 60vh;
  .bannerPatterns {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      text-align: center;
      color: $color-white;
      font-weight: bold;
      font-size: 3.5rem;
      margin: 0; 
      
      span {
        font-weight: 200;
      }
    }
    .title {
      color: $color-white;
      font-size: 2.5rem;
      font-weight: bold;
      margin: 1rem;
     @media screen and (max-width:500px){
      //  h3{
      //          font-size: 1.5rem;

      //  }

  }
    }
    .description {
      font-size: 1.5rem;
      color: $color-white;
      text-align: center;
      width: 50%;
      margin: 0 auto;
       
    }

    .btn {
      margin: 1rem 0.4rem;
      display: block;
      width: 8.5rem;
      height: 1.5rem;
      background-color: $color-white;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px 10px 10px 0;
      cursor: pointer;
      color: $color-primary;
      box-shadow: 0px 1px 4px 0 $color-black-overlay;
      img {
        display: block;
        width: 17px;
        height: 17px;
        margin-right: 8px;
      }
    }
  }
 
}
