@import "../../VariablesScss/variables";
.Card {
  width: 250px;
  background-color: $color-primary;
  background-color: $color-white;
  margin: 20px;
  padding: 80px 20px 80px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px -5px grey;

  h2 {
    color: $color-black;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    padding: 0;
  }
  .priceBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 2rem auto;
    .price {
      color: $color-primary;
      font-size: 45px;
      font-weight: bold;
    }
    .per {
      color: #769497;
      font-size: 14px;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      margin: 10px;
      border-bottom: 2px solid #f0f2ff;
    }
  }
  .getStarted {
    margin: 2rem auto 0;
    display: block;
    width: 8.5rem;
    height: 35px;
    background-color: #f0f2ff;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 0;
    cursor: pointer;
    color: $color-black;
    font-weight: 600;
    outline: none;
    border: none;
    img {
      display: block;
      width: 17px;
      height: 17px;
      margin-right: 8px;
    }
  }
  &:hover {
    background-color: $color-primary;
    box-shadow: 0 0 15px -5px grey;
    h2,
    .price {
      color: $color-white;
    }
    .per {
      color: #42dafa;
    }
    ul {
      li {
        color: $color-white;
      }
    }
    .getStarted {
      background-color: $color-white;
    }
  }
}
