@import "../../VariablesScss/variables";
.HowTo {
  background: url("/assets/Banner/layer-14-copy@3x.png"),
    linear-gradient(90deg, rgba(75, 68, 255, 1) 50%, rgba(52, 191, 243, 1) 100%);
  background-size: cover;
  background-position: center;
  height: 24rem;
  display: flex;
  align-items: center;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    .description {
      width: 80%;
      .mainTitle {
        color: $color-white;
        font-size: 25px;
        width: 70%;
        font-weight: 400;
        span {
          font-weight: bold;
        }
      }
      .firstSubtitle {
        color: $color-txt-8;
        opacity: 0.5;
        font-size: 20px;
        margin: 5px 0;
      }
      .firstSubParagraph {
        color: $color-txt-8;
        opacity: 0.7;
        margin: 5px 0 20px 0;
        width: 80%;
      }
      .secondSubtitle {
        color: $color-txt-1;
        font-size: 25px;
        font-weight: 500;
        margin: 0;
      }
      .secondParagraph {
        color: $color-txt-8;
        margin: 5px 0;
        width: 80%;
      }
    }
    .imgSection {
      background-color: white;
      border-radius: 30px 30px 30px 5px;
      box-shadow: 0px 0px 20px 0 rgba(52, 48, 174, 0.49);
      padding: 20px;
      width: 70%;
      height: 250px;
      margin-left: auto;
      margin-right: 70px;
      .check {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        img {
          width: 100%;
          height: 50px;
          object-fit: contain;
        }
        p {
          width: 70%;
          span {
            font-weight: bold;
          }
        }
      }
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .analyze {
        box-shadow: 0px 2px 7px 0 rgba(86, 86, 93, 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 20px;
        color: #7f8b92;
        border-radius: 10px;
        padding: 10px;
        height: 90px;
        width: 130px;

        img {
          object-fit: contain;
          width: 100%;
          height: 30px;
        }
        p {
          margin: 0;
          text-align: center;
          span {
            font-weight: bold;
            display: block;
          }
        }
      }
      .upload {
        background-image: linear-gradient(to top, $color-primary, $color-txt-4);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $color-white;
        border-radius: 10px;
        padding: 10px;
        width: 130px;
        height: 90px;
        img {
          width: 100%;
          object-fit: contain;
          height: 30px;
        }
        p {
          text-align: center;
          margin: 0;
          span {
            font-weight: bold;
            display: block;
          }
        }
      }
    }
  }
  @media screen and (max-width:800px){
    height: auto;
    .content{
      flex-direction: column;
      width: 100%;
     
      .description{
        padding: 15px;
        width: 90%;
        // text-align: center;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        order: 2; .mainTitle{
        
                  width: 100%;

        
      }
        h2,h3,p{
          width: 100%;
        }
      }
      .imgSection{
        margin: 2rem auto;
        order:1;
      }
    }
  }
}
